*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}

header{
  background-color: #FFF8F3;
  background-image: url("../images/developer.png"), url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  padding-top: 50px;
}


nav{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    
}

.logo h2{
    font-size: 45px;
    font-weight: 900;

}
.color-orange{
    color: #FD6E0A;
}

.menu{
    display: flex;
    gap: 51px;
    align-items: center;
    list-style: none;
    color: black;
    text-decoration: none;

}

.btn{
    background-color: #FD6E0A;
    color: white;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    cursor: pointer;
}

#banner{
    /* border: 1px solid blue; */
    margin: 47px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner .banner-content{
    /* border: 1px solid red; */
    max-width: 585px;
    

}

#banner .banner-content h2{
    /* border: 1px solid red; */
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;

}

#banner .banner-content h1{
    /* border: 1px solid red; */
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
    
}

#banner .banner-content p{
    /* border: 1px solid red; */
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 20px;  

}

#banner .banner-image img{
    max-width: 585;
    vertical-align: middle;

}
