*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}

.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0px auto;
    padding-top: 130px;
}


.section-heading h2{
    margin-bottom: 30px;
    padding-bottom: 30px;
    font-size: 30px;
}

.section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
    margin: 0px auto;

}

header{
  background-color: #FFF8F3;
  background-image: url("../images/developer.png"), url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: 23px 1px, bottom right;
  padding-top: 50px;
}


nav{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    
}

.logo h2{
    font-size: 45px;
    font-weight: 900;

}
.color-orange{
    color: #FD6E0A;
}

.menu{
    display: flex;
    gap: 51px;
    align-items: center;
    list-style: none;
    color: black;
    text-decoration: none;

}

.btn{
    background-color: #FD6E0A;
    color: white;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    cursor: pointer;
}

#banner{
    /* border: 1px solid blue; */
    margin: 47px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner .banner-content{
    /* border: 1px solid red; */
    max-width: 585px;
    

}

#banner .banner-content h2{
    /* border: 1px solid red; */
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;

}

#banner .banner-content h1{
    /* border: 1px solid red; */
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
    
}

#banner .banner-content p{
    /* border: 1px solid red; */
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 20px;  

}

#banner .banner-image img{
    max-width: 585px;
    vertical-align: middle;

}

#about{
    padding-top: 130px;
}

#about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;

}


#about .about-container .about-info{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-top: 30px;

}

.about-info .info-card{
    font-size: 15px;
    color: black;
    line-height: 30px;
    text-align: center;
}

#about .about-container .about-info .info-card h4{
    font-size: 12px;

}

#skills{
  padding-top: 130px;
}

#skills .skills-container{
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
}

#skills .section-heading{
  margin: 0 auto;
  text-align: center;
  max-width: 827px;
}

#skills .skill-box{
  display: flex;
  gap: 24px;
  justify-content: space-between;
}

#skills .skill-card{
    padding: 30px;
    max-width: 267px;
    /* border: 1px solid red; */
    box-shadow: 0 6px 50px 0 #00000031;
}

.skill-card img{
    max-width: 44px ;
    margin-bottom: 30px;
}

.skill-card h3{
    font-size: 20px;
    margin-bottom: 20px;
    color: #181818;
}

.skill-card p{
    font-size: 15px;
    line-height: 26px;
    color: #757575;
    max-width: 204px;
    max-height: 243px;
}

#resume{
    padding-top: 130px;

}

#resume .resume-container{
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.resume-container .section-title{
    color: #474747;
    font-size: 30px;
    margin-bottom: 30px;

}

.resume-container hr{
    margin: 30px 0;
}

.resume-card{
    /* border: 1px solid red; */
    max-width: 540px;
    margin-right: 47px;
}

.resume-card .card-title{
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
    font-weight: bold;

}
.resume-card .card-info{
    font-size: 20px;
    color: #757575;
    margin-bottom: 20px;
    font-weight: 600;

}
.resume-card .card-text{
    font-size: 16px;
    line-height: 28px;
    color: #757575;


}

.text-center{
    text-align: center;
}

footer{
    margin-top: 130px;
    background-color: #FFF8F3;
    padding: 130px 0;


}

.footer-container{
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
    display: flex;
    gap: 116px;

}

footer .footer-container .social{
    max-width: 562px;
}

footer .footer-container .social p{
    color: #474747;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 30px;
}

.footer-container h2{
    color: #181818;
    font-size: 45px;
    margin-bottom: 20px;
}

.footer-container .icons a{
    margin-right: 24px;

}

.footer-container form input[type="text"], .footer-container form textarea{
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;
}